#container_meniu_cod {
	margin: 0 auto;
}

.meniu_class_beko {
	background-color:#fff;
	font-family: IBM Plex Sans;
	font-size:1.2em;
	font-weight:600px;
	text-align:center;
	display: inline-block;
	vertical-align: text-top;
	padding-top: 20px;
	padding-bottom: 20px;
	padding: 20px 10px 20px 10px;
	margin-right: 25px;
	color: #2a2a2a;

}

.meniu_class_beko a {
	text-decoration: none;
	color: #2a2a2a;
}

.meniu_class_beko:last-child {
	margin-right: 0px;
}