#container{
    font-family:'IBM Plex Sans';
    width: 1240px;
    margin: 0 auto;
}

.bg-titlu {
    background-image: url("https://atxpixel.github.io/bg.png");
    background-size: cover;
    border-radius: 0 10px 0 10px;
    padding: 70px 0;
    text-align: center;
 
}

.titlu_bf{
    font-family:'IBM Plex Sans';
    font-weight: 700;
    font-size: 4em;
    color: #ffffff;
    display: block;
    border: ;
}

.subtitlu_bf{
    font-family:'IBM Plex Sans';
    font-weight: 400;
    font-size: 2.5em;
    color: #ffffff;
    display: block;
}
.la_bf{    
    font-family:'IBM Plex Sans';
    font-weight: 400;
    font-size: 0.6em;
    color: #ffffff;

}

.bg_bf_intrebare {
    font-face: IBM Plex Sans;
    background-color: #fff2d6;
    padding:10px 25px 10px 25px;
    border-radius: 0 10px 0 10px;
    font-weight: 600;
    font-size: 1.2em;
}

.bg_bf_intrebare_wobg {
    font-face: IBM Plex Sans;
    padding:10px 25px 10px 0px;
    border-radius: 0 10px 0 10px;
    font-weight: 600;
    font-size: 1.4em;
}

.button_abonare {
    background-color: #eacd49;
    border-radius: 0 10px 0 10px;
    font-weight: 500;
    color: 000;
    text-align: center;
    padding: 15px 20px 15px 20px;
}

.button_abonare:hover {
    background-color: #cfad28;
}

.bullet {
    color: #bc003b;
}


.list-disc2 {
    list-style-image: url(https://lcdn.altex.ro/render/_next/static/media/star-red.1e82ab82.svg);
}


.div_record {
    width: 49%;
    vertical-align: text-top;
    display: inline-block;

}

.div_record_container {

    border-radius: 0 10px 0 10px;
    border: 1px solid #c7c7c7;
    padding:10px 30px;

}
