.content-wrapper.relative.grow.flex.flex-col.justify-between {
        background: #000000 url(https://atxpixel.github.io/blackfriday2022/bg_background_bf.png) no-repeat top center;
}

.Breadcrumbs {
    -webkit-overflow-scrolling: touch;
    display: none;
}
